@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --clr-accent: #48273e;
  --clr-text: #212841;
  --clr-text-secondary: #090d08;
  --clr-background: #d0d2d7;
}
