@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --clr-accent:#45263d;
  --clr-text: #212841;
  --clr-text-secondary: #090d08;
  --clr-background: hsl(223, 8%, 95%);

}


