.wrapper{
    height: 100vh;
    display:grid;
    grid-template-rows: auto 1fr 10%;
}

.header{
    height: 100%;
    border-bottom: 1px solid var(--clr-text);
}

.main{
    overflow:scroll;
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Poppins', sans-serif;
    font-weight: 200;
    background-color: var(--clr-background);
color: var(--clr-text);
    margin: 0;
    color:var(--clr-text-secondary);
    font-weight: 400;

}
.img{
    object-fit: cover;
    width: 100%;
}

.links{
    scroll-behavior: smooth;
}

h3{ 
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    margin:0;
    margin-top: 1rem;
    color: var(--clr-accent);
    
}

span {
    color:#a5a8ae;
    font-weight: 400;
}

h4 {
   font-family: 'Italianno', cursive;
    color: var(--clr-text);
    margin: 0;
    font-size: 1.8rem;
    font-weight: 200;
}

.pWrapper{
    padding:2rem;
}

p {
    
}
