.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.header {
  height: 100%;
  border-bottom: 1px solid var(--clr-text);
}

.main {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  height: 88vh;
  padding: 2rem;
}

.links {
  scroll-behavior: smooth;
  margin-top: 2rem;
}




.subheader {
  display: box;
  width: 100%;
  font-family: "Italianno", cursive;
  color: var(--clr-background);
  margin: 0;
  font-size: 6rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-background);
  
}

.text{
     font-family:'Poppins', sans-serif;
    font-weight: 200;
    color: var(--clr-background);
    font-size: 1rem;
}

.pWrapper {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-background);
  margin: 2rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  backdrop-filter: blur(5px);
  background-color: transparent;
  box-shadow: 5px 5px 10px 20px #fff;
}

.footer {
  width: 100%;
  height: 4rem;
}
