.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-background);
    text-decoration: none;
  }  



h1{
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    margin:0;
    margin-top: 1rem;
    color: var(--clr-accent);
    font-size: 3rem;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 30vw;
}


@keyframes fadeIn {
  from {color: transparent;}
  to {color: var(--clr-accent);}
}

@keyframes fadeIn2 {
  from {color: transparent;}
  to {color: var(--clr-text-secondary);}
}

.headerAnimation { 
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    margin:0;
    margin-top: 1rem;
    color: var(--clr-accent);
    animation-name: fadeIn;
    animation-duration: 5s;
}

.headerAnimationSpan {
    color:var(--clr-background);
    font-weight: 400;
    animation-name: fadeIn2;
    animation-duration: 5s;
}