.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-background);
  text-decoration: none;
  padding: 1rem;
  border-bottom: var(--clr-text) 1px solid;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1rem;
}

.button {
  border: none;
  background-color: transparent;
}
