.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.header {
  height: 100%;
  border-bottom: 1px solid var(--clr-text);
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gapMakerDesktop {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background-color: transparent;
  border: 1px solid var(--clr-background);
  border-radius: 5px;
}

.section {
  height: 1000%;
  width: 50%;
  backdrop-filter: blur(5px);
  background-color: transparent;
  border-radius: 5px;
  animation-name: fadeIn;
  animation-duration: 4s;
}



h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin: 0;
  color: var(--clr-accent);
  padding-bottom: 1rem;
}

span {
  color: #a5a8ae;
  font-weight: 400;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  margin-top: 0.5rem;
  color: var(--clr-accent);
}

p {
  margin: 0;
  color: var(--clr-text-secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0;
}

.mapWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  

  margin-bottom: 1rem;
  height: 100%;
  width: 50%;
  
  backdrop-filter: blur(5px);
  background-color: transparent;
 
  animation-name: fadeIn;
  animation-duration: 4s;
}

.map {
  height: 100%;
  width: 100%;
  border: 1px solid var(--clr-text);
}
.footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100vw;
}

@media only screen and (max-width: 1024px) {
  .mapWrapper {
    width: 45vw;
  }
  .section {
    width: 45vw;
  }
}
