.wrapper{
    height:90vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    backdrop-filter: blur(5px);
    background-color: transparent;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow:hidden;
}

.menu {
 height: 100%;
 background-color: var(--clr-background);
 border-left: 1px solid var(--clr-accent);
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 padding: 1rem;
 font-family:'Poppins', sans-serif;
 font-weight: 900;
}

a {
    text-decoration: none;
}

h3{ 
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    margin:0;
    margin-top: 1rem;
    color: var(--clr-accent);
    
}

span {
    color:#a5a8ae;
    font-weight: 400;
}
