.links{
    font-family:'Poppins', sans-serif;
    font-weight: 900;
    color: var(--clr-text);
    text-decoration: none;
}

.links:visited :active {
    color:var(--clr-accent)
}

.links:hover{
    cursor:pointer;
}