@keyframes signal {
  0% {
    fill: var(--clr-text);
  }
  17% {
    fill: var(--clr-background);
  }
  3% {
    fill: var(--clr-text);
  }
  49% {
    fill: var(--clr-background);
  }
  66% {
    fill: var(--clr-text);
  }
83% {
    fill: var(--clr-background);
  }
  100% {
    fill: var(--clr-text);
  }
}

.arrow {
  animation-name: signal;
  animation-duration: 2s;  
}

.arrow:hover {
  fill: var(--clr-background);
  stroke: var(--clr-background);
  
}
