@keyframes signal {
  0% {
    fill: var(--clr-text);
  }
  25% {
    fill: var(--clr-background);
  }
  50% {
    fill: var(--clr-text);
  }
  75% {
    fill: var(--clr-background);
  }
  100% {
    fill: var(--clr-text);
  }
}

.arrow {
  animation-name: signal;
  animation-duration: 2s;  
}

.arrow:hover {
  fill: var(--clr-background);
  stroke: var(--clr-background);
  
}
