@keyframes fadeIn {
  from {
    color: transparent;
  }
  to {
    color: var(--clr-background);
  }
  to {
      color:var()
  }
}

.arrow:hover {
    fill:var(--clr-background);
    stroke:var(--clr-background);
}