.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 10%;
  overflow: hidden;
}

.header {
  height: 100%;
  border-bottom: 1px solid var(--clr-text);
}

.main {
  overflow:hidden;;
  height: 100%;

}

.carouselWrapper{
    height: 60vh;
}