.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 10%;
  overflow: hidden;
}

.header {
  height: 100%;
  border-bottom: 1px solid var(--clr-text);
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  height: 200px;
  width: 100%;
  object-fit: scale-down;
}

.footer {
    width:100vw;
}