.wrapper {
  height: 100vh;
  
  display: grid;
  grid-template-rows: auto 1fr 10%;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid var(--clr-text);
}

.main {
  width: 100%;
 
  display: flex;
  justify-content: center;
  align-self: center;
}

.carouselWrapper {
  height: 70vh;
}
