.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 10%;
  overflow: hidden;
}

.header {
    width:100vw;
  border-bottom: 1px solid var(--clr-text);
}

.main {
  width: 100vw;
  display: flex;
  justify-content: center!important;
  align-items: center;
 
  

}

.carouselWrapper {
  
  width: 100%;
 
}

.footer {
    width:100vw;
}