.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr 10%;
}

.header {
  height: 100%;
  border-bottom: 1px solid var(--clr-text);
}

.main {
  width:100%;
  overflow: scroll;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pWrapper{
    padding:2rem;
}

.img{
  width: 100%;
  object-fit: scale-down;
}

.h4 {
    font-family: 'Italianno', cursive;
    color: var(--clr-text);
    font-weight: 200;
    text-align:center;
    margin: 0.5rem 0 0.5rem 0 ;
    font-size: 2rem;
}

.p {
    color: var(--clr-text);
    margin: 0;
    color:var(--clr-text-secondary);
    font-family:'Poppins', sans-serif;
    font-weight: 400;
}

.links{
  align-self: center;
}

.footer {
    width:100vw;
}